.container-fluid {
  width: 100%;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.site-header {
  border-bottom: 1px solid $lightgray;
  margin: 1em;
  padding: 1em;
  .site-title {
    float: left;
    i {
      display: none;
      display: inline-block;
      margin-right: .5em;
      width: 50px;
      height: 50px;
      background-image: url('../img/logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px auto;
    }
    // hack! https://codepen.io/edge0703/pen/iHJuA
    i:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
  .site-nav {
    float: right;
    font-size: 1.25em;
    a {
      padding: 0 .5em;
    }
    a:active, a:hover {
      text-decoration: none;
      border-bottom: 2px solid $gray;
    }
    a.active {
      border-bottom: 2px solid $red;
    }
    a + a {
    }
  }
  .site-title, .site-nav {
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    @include sm {
      float: none;
      text-align: center;
    }
  }
  @include sm {
    margin: 0.25em;
    padding: 0.25em;
  }
}

.site-footer {
  border-top: 1px solid $lightgray;
  margin: 1em;
  padding: 1em;
  .copyright {
    float: left;
  }
  .site-links {
    font-size: 1.25em;
    float: right;
    a + a {
      margin-left: .5em;
    }
  }
  .copyright, .site-links {
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    @include sm {
      float: none;
      text-align: center;
    }
  }
  @include sm {
    margin: 0.25em;
    padding: 0.25em;
  }
}

.site-wrapper {
  margin: 1em;
  padding: 1em;
}

.post-list {
  list-style: none;
  padding: 0;
  .post-item {
    margin: 1em 0;
    padding: 1em 0;
  }
  .post-item + .post-item {
    border-top: 1px solid $lightgray;
  }
  .post-title {
  }
}

.post-summary, .post-content {
  margin: 1em 0;
  text-align: justify;
  line-height: 1.75em;
}

.post-content {
  a {
    text-decoration: underline;
  }
  pre {
    overflow-x: scroll;
    border: 1px solid $lightgray;
    padding: 1em;
  }
  h1, h2, h3, h4, h5, h6 {
    padding-left: 5px;
    border-left: 10px solid $red;
  }
  // https://codepen.io/maxds/pen/DcveB
  blockquote {
    display: block;
    margin: 0;
    padding: 1em 1.5em 1em 3em;
    position: relative;
    border: 1px solid $lightgray;
    //border-left: 1em solid $red;
    //border-right: .1em solid $red;
    //box-shadow: 2px 2px 15px $lightgray;
    &:before {
      content: '\201C';
      font-family: Georgia, serif;
      font-size: 60px;
      font-weight: bold;
      color: $red;
      position: absolute;
      left: 10px;
      top: 5px;
    }
    &:after {
      content: '';
    }
  }
  table {
    border: 1px solid $lightgray;
    padding: .5em;
    width: 100%;
    thead {
      background-color: $lightgray;
    }
  }
  figure {
    text-align: center;
    img {
      border: 1px solid $lightgray;
      cursor: pointer;
      max-width: 100%;
    }
    figcaption {
      margin: 0;
      text-align: center;
    }
    &.half img {
      width: 50%;
    }
    &.full img {
      width: 100%;
    }
    &.noborder img {
      border: none;
    }
  }
  p {
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

.post-date {
  margin: 0;
  font-size: 0.9em;
}

.post-tags {
  font-size: 0.9em;
  a {
    background: $lightgray;
    padding: 0 .5em;
    border-radius: 4px;
  }
  a + a {
    margin-left: .25em;
  }
}

.share-buttons {
  margin: .5em;
  font-size: 1.25em;
  text-align: center;
  a {
    padding: .5em 1em;
    text-align: center;
    vertical-align: middle;
    background-color: $lightgray;
    border-radius: 4px;
    span {
    }
  }
  a + a {
    margin-left: .5em;
  }
}

.post-rel-nav {
    margin: 2em 0;
    display: flex;
    flex-flow: row wrap;
    .post-rel-prev, .post-rel-next {
        flex: 1 1 auto;
    }
    .post-rel-prev {
        text-align: left;
    }
    .post-rel-next {
        text-align: right;
    }
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
