---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-date"><i class="fa fa-calendar" title="date"></i> {{ page.date | date: site.date_format }}</p>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
    <footer class="post-footer">
        {% include post_tags.html tags=page.tags %}
        {% include share_buttons.html %}
        <nav class="post-rel-nav">
          <div class="post-rel-prev">
            {% if page.previous.url %}
            <a href="{{ page.previous.url }}">
              <i class="fa fa-chevron-circle-left"><span class="sr-only">previous post</span></i>
              {{ page.previous.title }}
            </a>
            {% else %}
            <span>BOF</span>
            {% endif %}
          </div>
          <div class="post-rel-next">
            {% if page.next.url %}
            <a href="{{ page.next.url }}">
              {{ page.next.title }}
              <i class="fa fa-chevron-circle-right"><span class="sr-only">next post</span></i>
            </a>
            {% else %}
            <span>EOF</span>
            {% endif %}
          </div>
        </nav>
        {% include comments.html %}
    </footer>
</div>
